/* global.css
body, html {
    background-image: url('/background1.gif');
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

 */